# Dependencies
node_modules
.pnpm-store

# Build output
.next
out
dist

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Environment files
.env
.env.local
.env.*
.envrc

# VCS
.git
.gitignore

# Editor/misc
.vscode
.DS_Store
*.swp
